.kalkulator{
	display: grid;
	height: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 100px 100px auto  100px;

}

body{

	font-size: large;
	background: lightblue;

}

input{
	font-size: large;
}

h1{
	text-align: center;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 2;
	grid-row-end: 3;
	font-family: "Times new roman";
}

.container{
	text-align: center;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 3;
	grid-row-end: 4;
    border: 10px solid transparent;
    border-image: url(border.png) 30 round;
    background: lavenderblush;
}
.operand1{
	grid-column: 1/2;
	background: lightyellow;
}

.operator{
	grid-column: 2/3;
	background: lightgrey;
}

.operand2{
	grid-column: 3/4;
	background: lightyellow;
}

.equal{
	grid-column:4/5;
	background:lightgrey ;
}
.tombol{
	background:lightgrey ;
}
.hasil{
	grid-column: 5/-1;
	background: lightyellow;
}