	.container{
		display: grid;
		height: 100%;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 100px 100px auto  100px;

	}

	.menu{
		background:lightblue;
		  grid-column-start: 1;
		  grid-column-end: -1;
		  grid-row-start: 1;
		  grid-row-end: 2;
		  color: white;
		  border:solid;
		  border-color: lavenderblush;

	}

	.header{
		  background: pink;
		  grid-column-start: 1;
		  grid-column-end: -1;
		  grid-row-start: 2;
		  grid-row-end: 3;
		  text-align: center;
		  border:solid;
		  border-color: lavenderblush;
		  font-family: Copperplate Gothic Bold;
	}

	.sidebar{
		background: lightyellow;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
		border:solid;
		border-color: lavenderblush;
	}

	img.bio{
		width: 100%;
		height: 100%
		border:solid;
		border-color: lavenderblush;
	}
	img.icon{
		  width:100px; 
		  height: 100px;
		  padding: 30px;
	}

	.konten{  
		background: lightpink;   
		grid-column: 2/-1;    
	 	display:grid;    
		grid-gap: 4px;
		border:solid;
		border-color: lavenderblush;
		text-align: center;
		font-family: cooper black;
	}

	.subkonten{
	  color: black;
	  background: lightgrey;    
	  grid-column: 1/-1;
	  padding: 20px 20px;
	  border:solid;
	  border-color: lavenderblush;
	}

	.footer{
		background: lightgreen;
		grid-column: 1/-1;
		grid-row: 4/-1;
		padding: 10px; 
		text-align: center;
		border:solid;
		border-color: lavenderblush;
		font-family: berlin sans fb;
	}