html, body, #map{
	height: 100%;
	width: 100%;
}

body{
	padding: 0;
	margin: 0;
}

.container{
	display: grid;
	height: 100%;
	grid-gap:4px;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 60% 40%;
}

.peta{
	grid-column: 1/-1;
}

.gambar{
	background: green;
	grid-column: 1/6;
	border:solid;
	border-color: white;
	text-align: center;
	padding: 5px;

}
	.subgambar{
	  color: white; 
	  background: green;    
	  grid-column: 1/6;
	  padding: 20px 20px;
	  border:solid;
	  border-color: white;
	  font-family: Cooper Black;
	}



.review{
	background: green;
	grid-column:6/-1;
	border:solid;
	border-color: white;
	text-align: center;
	padding: 5px;
	color: white;
	font-family: Cooper Black;
	
}

	.subreview{
	  background: green;    
	  grid-column: 6/-1;
	  padding: 20px 20px;
	  border:solid;
	  border-color: white;
	}

